<p id="notice"><%= notice %></p>

<p>
  <strong>Nome instrutor:</strong>
  <%= @course.nome_instrutor %>
</p>

<p>
  <strong>Email instrutor:</strong>
  <%= @course.email_instrutor %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @course.titulo %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @course.carga_horaria %>
</p>

<p>
  <strong>Vagas:</strong>
  <%= @course.vagas %>
</p>

<p>
  <strong>Requisito:</strong>
  <%= @course.requisito %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
