<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @city.nome %>
</p>

<p>
  <strong>Populacao:</strong>
  <%= @city.populacao %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
